.rectangleDiv {
  position: absolute;
  top: -7px;
  left: -21px;
  background: linear-gradient(199.22deg,
      rgba(11, 11, 11, 0.8),
      rgba(11, 11, 11, 0));
  width: 1471px;
  height: 593px;
  mix-blend-mode: normal;
}

.rectangleDiv1 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #ededed;
  width: 1460px;
  height: 588px;
}

.vc7eiHyA1Icon {
  position: absolute;
  top: -1620.97px;
  left: -967px;
  width: 2731px;
  height: 3829.01px;
  object-fit: cover;
}

.maskGroupDiv1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1460px;
  height: 588px;
  opacity: 0.45;
}

.ellipseIcon,
.maskGroupDiv {
  position: absolute;
  top: 0;
  left: 573.76px;
  width: 886.24px;
  height: 588px;
}

.maskGroupDiv {
  left: -21px;
  width: 1460px;
}

.rectangleDiv2,
.rectangleDiv3 {
  position: absolute;
  top: 0;
  height: 586px;
}

.rectangleDiv2 {
  left: -294px;
  background: linear-gradient(103.17deg,
      rgba(51, 51, 51, 0.9),
      rgba(122, 112, 126, 0));
  width: 1516px;
}

.rectangleDiv3 {
  left: 0;
  background-color: #ededed;
  width: 1460px;
}

.vc7eiHyA1Icon1 {
  position: absolute;
  top: 0;
  left: 10px;
  width: 2731px;
  height: 3106.19px;
  object-fit: cover;
}

.maskGroupDiv2 {
  position: absolute;
  top: 1px;
  left: -10px;
  width: 1460px;
  height: 586px;
  opacity: 0.45;
}

.rectangleDiv4 {
  position: absolute;
  top: -7px;
  left: 0;
  background-color: rgba(11, 11, 11, 0.3);
  width: 1439px;
  height: 593px;
  mix-blend-mode: overlay;
}

.everyoneDeservesAHappyEndi {
  position: absolute;
  top: 0;
  left: 0;
  letter-spacing: -0.03em;
  line-height: 114.5%;
  display: inline-block;
  width: 628px;
  height: 184px;
  opacity: 0.8;
  mix-blend-mode: color-dodge;
}

.discoverTrueConnectionsAnd,
.logInDiv,
.signUpDiv {
  position: absolute;
  top: 0;
  left: 0;
  letter-spacing: 0.02em;
  line-height: 123.5%;
  font-weight: 500;
  display: inline-block;
  width: 289px;
  height: 68px;
}

.logInDiv,
.signUpDiv {
  top: 11px;
  left: 39px;
  letter-spacing: 0.15em;
  line-height: 114.5%;
  width: 78px;
  height: 21px;
}

.logInDiv {
  top: 12px;
  left: 202px;
  width: 65px;
  height: 20px;
}

.copyDiv,
.groupDiv,
.rectangleDiv5 {
  position: absolute;
  left: 0;
  height: 44px;
}

.rectangleDiv5 {
  top: 0;
  border-radius: 80px;
  border: 1px solid #fff;
  box-sizing: border-box;
  width: 152px;
}

.copyDiv,
.groupDiv {
  top: 93px;
  width: 267px;
}

.copyDiv {
  top: 33px;
  left: 732px;
  width: 289px;
  height: 137px;
  font-size: 16px;
  color: #fff;
  font-family: Radnika;
}

.headerDiv {
  position: absolute;
  top: 165px;
  left: 100px;
  width: 1021px;
  height: 184px;
  font-size: 76px;
}

.rectangleDiv6 {
  position: absolute;
  top: 586px;
  left: -16px;
  background-color: #f4f3ee;
  width: 1462px;
  height: 644px;
}

.lineDiv {
  position: absolute;
  top: 32.5px;
  left: 72.5px;
  border-top: 1px solid #fff;
  box-sizing: border-box;
  width: 151px;
  height: 1px;
}

.searchB {
  position: absolute;
  top: 5px;
  left: 73px;
  letter-spacing: 0.04em;
  line-height: 114.5%;
  display: inline-block;
  width: 65px;
  height: 24px;
}

.asset21,
.searchDiv {
  position: absolute;
  height: 33px;
}

.asset21 {
  top: 0;
  left: 0;
  width: 58px;
  object-fit: cover;
}

.searchDiv {
  top: 42px;
  left: 1117px;
  width: 223px;
  color: rgba(255, 255, 255, 0.8);
}

.rectangleDiv7 {
  position: absolute;
  top: 427px;
  left: 100px;
  border-radius: 80px;
  background-color: #fdfdfd;
  width: 1239px;
  height: 456px;
}

.l65RBqW1Icon,
.rectangleDiv8 {
  position: absolute;
  top: 0;
  left: 0;
  width: 236px;
}

.rectangleDiv8 {
  border-radius: 60px;
  background-color: #f8f7f1;
  height: 317px;
}

.l65RBqW1Icon {
  height: 354px;
  object-fit: cover;
}

.maskGroupDiv3,
.memIenUA1Icon {
  position: absolute;
  top: 2px;
  left: 286px;
  width: 236px;
  height: 317px;
}

.memIenUA1Icon {
  top: 0;
  left: 0;
  width: 316px;
  height: 475px;
  object-fit: cover;
}

.maskGroupDiv4 {
  position: absolute;
  top: 2px;
  left: 572px;
  width: 236px;
  height: 317px;
}

.maskGroupDiv5,
.tjoG9SA1Icon,
.x4oXZsmg1Icon {
  position: absolute;
  top: 0;
  width: 236px;
  height: 317px;
}

.x4oXZsmg1Icon {
  left: 0;
  object-fit: cover;
}

.maskGroupDiv5,
.tjoG9SA1Icon {
  left: 858px;
}

.tjoG9SA1Icon {
  left: 0;
  width: 301px;
  height: 388px;
  object-fit: cover;
}

.maskGroupDiv6,
.rectangleDiv12 {
  position: absolute;
  top: 2px;
  left: 0;
  width: 236px;
  height: 317px;
}

.rectangleDiv12 {
  top: 0;
  border-radius: 60px;
  background-color: #f8f7f1;
  box-shadow: 0 4px 40px 14px rgba(0, 0, 0, 0.25);
}

.memIenUA1Icon1 {
  position: absolute;
  top: -50px;
  left: -40px;
  width: 316px;
  height: 475px;
  object-fit: cover;
}

.maskGroupDiv7 {
  position: absolute;
  top: 0;
  left: 572px;
  width: 236px;
  height: 317px;
  opacity: 0.4;
}

.blog,
.creatorsB,
.homeB,
.subscribe {
  position: absolute;
  top: 2px;
  left: 0;
  display: inline-block;
  width: 164px;
  height: 40px;
}

.blog,
.creatorsB,
.subscribe {
  top: 0;
  left: 858px;
  width: 127px;
  height: 20px;
}

.creatorsB,
.subscribe {
  left: 285px;
  width: 156px;
  height: 40px;
}

.subscribe {
  left: 572px;
}

.cardContentDiv,
.groupDiv1 {
  position: absolute;
  top: 334px;
  left: 20px;
  width: 985px;
  height: 42px;
}

.cardContentDiv {
  top: 467px;
  left: 173px;
  width: 1094px;
  height: 376px;
  font-size: 30px;
}

.asset11 {
  position: absolute;
  top: 25px;
  left: 648px;
  width: 145px;
  height: 68px;
  object-fit: cover;
}

.colorCherry13Icon,
.colorCherry14Icon {
  position: absolute;
  top: 961px;
  left: -94px;
  width: 52px;
  height: 52px;
  object-fit: cover;
}

.colorCherry13Icon {
  top: 1069px;
  left: 1532px;
}

.rectangleDiv13 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #e5ddd7;
  width: 1440px;
  height: 270px;
}

.asset31 {
  position: absolute;
  top: 39px;
  left: 1157px;
  width: 183px;
  height: 85px;
  object-fit: cover;
}

.socialB {
  top: 58px;
  left: 296px;
  font-size: 20px;
  width: 63px;
}

.aboutUs,
.facebookDiv,
.instagramDiv,
.socialB,
.youTubeDiv {
  position: absolute;
  letter-spacing: 0.02em;
  line-height: 123.5%;
  display: inline-block;
  height: 20px;
}

.aboutUs {
  top: 58px;
  left: 100px;
  font-size: 20px;
  width: 90px;
}

.facebookDiv,
.instagramDiv,
.youTubeDiv {
  top: 0;
  left: 0;
  font-weight: 500;
  width: 104px;
}

.facebookDiv,
.youTubeDiv {
  top: 35px;
}

.youTubeDiv {
  top: 70px;
}

.groupDiv4,
.groupDiv5 {
  position: absolute;
  top: 108px;
  left: 296px;
  width: 104px;
  height: 90px;
}

.groupDiv5 {
  left: 100px;
}

.copyirght2022EuphemeLLC,
.legalB,
.privacyPolicyB,
.termsConditions {
  position: absolute;
  top: 0;
  letter-spacing: 0.02em;
  line-height: 123.5%;
  display: inline-block;
  height: 20px;
}

.copyirght2022EuphemeLLC {
  left: 153px;
  font-weight: 500;
  width: 249px;
}

.legalB,
.privacyPolicyB,
.termsConditions {
  left: 0;
  width: 148px;
}

.legalB,
.privacyPolicyB {
  left: 198px;
  width: 108px;
}

.legalB {
  left: 356px;
  width: 47px;
}

.groupDiv6,
.legalDiv {
  position: absolute;
  top: 50px;
  left: 0;
  width: 403px;
  height: 20px;
}

.groupDiv6 {
  top: 160px;
  left: 940px;
  height: 70px;
}

.groupDiv2,
.groupDiv3 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1440px;
  height: 270px;
}

.groupDiv2 {
  top: 1023px;
  font-family: Radnika;
}

.euphoriaHomepageDesktopDiv {
  position: relative;
  background-color: #fff;
  width: 100%;
  height: 1293px;
  overflow: hidden;
  text-align: left;
  font-size: 16px;
  color: #846d75;
  font-family: TT Ramillas Trl;
}